# Unit 5 숫자 계산

In [1]:
import math

### 5.1 정수(Int)

In [4]:
a= 0.00000000001 * 5
b= 0.00000000005
a==b

False

In [5]:
# + , - , *  : 더하기, 빼기, 곱하기 동일
# / , // , % : 나누기(실수), 몫 , 나머지
5/2

2.5

In [9]:
# 몫과 나머지
5//2 , 5%2   # 나머지연산 (modulo)
# 콤마로 묶어 튜플구조

(2, 1)

In [10]:
# 거듭제곱
2 ** 10

1024

In [13]:
math.pow(2,10)
# 2 ** 10 과 같으나 결과는 실수

1024.0

In [18]:
#값을 정수로 변환
int(5.5) , math.floor(5.6) , math.ceil(5.6)

(5, 5, 6)

In [22]:
#값을 정수로 변환
int(5.5) 

#버림
math.floor(5.6) 

# 올림
math.ceil(5.6)

6

In [21]:
#문자열 -> 정수
int('54')

54

In [25]:
# 실수 문자열은 안됨
int('3.14')

ValueError: invalid literal for int() with base 10: '3.14'

In [24]:
#타입
type(5), type(3.14), type('55')

(int, float, str)

In [27]:
divmod(5,2)  #몫, 나머지

(2, 1)

In [28]:
q , r = divmod(5,2)
print(q,r)

2 1

- 2진수(bynary), 8진수(), 16진수

In [30]:
#2진수 표기       앞에 0b  붙이기
0b01000001

65

In [31]:
#8진수 표기
0o101

65

In [33]:
#16진수 표기
0x41

65

In [35]:
#대소문자 구분없음
0xff, 0XFF

(255, 255)

### 5.2 실수(Floating point)

In [36]:
3.5 + 2.1

5.6

In [37]:
4.3-2.7

1.5999999999999996

In [43]:
1.4e10          
# 1.4 * 10**10
# e = 10**
# 실수에서만 가능 10의 지수승 표현

14000000000.0

In [41]:
31415926535e-10
# 3.1415926535 * 10 ** -10

3.1415926535

In [42]:
10 ** 5 , 1e5

(100000, 100000.0)

In [49]:
#실수와 정수의 혼합
4.2+5 , type(4.2), type(5), type(4.2+5)

(9.2, float, int, float)

In [51]:
# 값을 실수로
float(3), float('3'), float('3.14')

(3.0, 3.0, 3.14)

### 5.3 괄호 사용

In [54]:
# 연산우선순위
3 * 5 + 4 , 3 + 5 * 4 , (3 + 5) * 4

(19, 23, 32)

In [57]:
# unary - (단항 연산자 - , 음수표현)
-3**-5*4 , (-3**-5)*4 , -3**-(5*4)

(-0.01646090534979424, -0.01646090534979424, -2.8679719907924413e-10)

In [60]:
ap=102
print(ap*0.6+225)

ValueError: invalid literal for int() with base 10: 'print(ap*0.6+225)'