# Unit 6. 변수(Variable)

In [114]:
my_height = 174.5    # snake 표기법, 파이썬
myWeight = 72        # camel 표기법, 자바

In [115]:
한글변수 = 5         # 한글변수명이 가능은 하나 잘 안쓰임

In [116]:
x = 10

In [117]:
x , y , z = 10 , 20 , 30 #tuple unpacking

In [118]:
# 기존 언어에서 두개의 값을 바꾸는 방법 (swapping)
temp = x
x = y
y = temp
x , y

(20, 10)

In [119]:
# 기존언어에서 두개의 값을 바꾸는 방법 파이썬
x, y = y, x
x, y

(10, 20)

In [120]:
x = y = z = 10

In [121]:
x, y, z

(10, 10, 10)

In [122]:
# 값이 없는 변수
x = None
x

### 6.2 변수 계산

In [123]:
a , b = 10 , 20
c = a + b
a , b , c

(10, 20, 30)

In [124]:
# 변수 a 의 값을 20만큼 증가시커랴
a = a+20
a

30

In [125]:
a += 20   # a = a + 20 의 다른언어 표기법
a

50

In [126]:
# 1에서 100까지 합 구하기
summation = 0
for i in range(1,101):
    summation += i
print(summation)

5050

In [127]:
# 1에서 10까지 곱 구하기
product = 1
for i in range(1,11):
    product *=i
print(product)

3628800

### 6.3 입력(input)

In [128]:
x = input()
x , type(x), int(x)

('11', str, 11)

In [129]:
number = int(input('숫자만입력하시오'))       # prompt  
number, type(number)

(22, int)

In [130]:
a = input('첫번째 숫자를 입력')
b = input('두번째 숫자를 입력')
print(a+b)                        # 문자열에서 더하기기호는 문자열으 붙여작성한다

1122

In [131]:
a = int(input('첫번째 숫자를 입력'))
b = int(input('두번째 숫자를 입력'))
print(a+b)

33

In [132]:
a = int(input('첫번째 숫자를 입력'))
b = input('두번째 숫자를 입력')
print(a+int(b))

33

In [133]:
11+22 , '11' + '22'

(33, '1122')

### 6.4 입력값 두개 받기

In [134]:
# 스트링 split() method
'10 20'.split()            #공백으로 분리하여 두개의 문자열이 리스트로 반환

['10', '20']

In [135]:
a, b = '10 20'.split()
a, b

('10', '20')

In [136]:
a , b = input('두개의 숫자를 입력하시오').split()
a , b           # 한번에 두개의 숫자 입력

('11', '22')

In [137]:
int(a) + int(b)

33

In [138]:
#map
list(map(int, ['11' , '22']))  
#map(int, ['11' , '22']) 은 int(11) , int(22) 와 같은 결과
#즉 map 는 첫번째 온 함수를 뒤에 전부 적용하라는 뜻

[11, 22]

In [139]:
a, b = map(int, input('두개의숫자를입력하시오').split())
a , b , a+b

(11, 22, 33)

In [140]:
# ,로 분리된 숫자 3개를 입력으로 받아 합계를 구하시오
a , b , c = map(int, input(',로 분리된 숫자 3개를 입력하시오').split(','))
a , b , c , a+b+c

(11, 22, 33, 66)

In [141]:
a=None
b=None
c=None

In [2]:

# 숫자 n 개를 입력 받아서 합계와 평균을 구하는법

numbers = list(map(int, input('정수 여러개를 입력하시오').split()))
numbers

[11, 22, 33, 44]

In [5]:
#합계 평균 구하기
sum(numbers) , sum(numbers) / len(numbers)

(110, 27.5)

In [10]:
a , b , c = map(int, input('숫자 3개를 입력하시오.> ').split())

print('3개의 숫자 : ', a, b, c)
print('합계 : ', a+b+c)

3개의 숫자 :  11 22 33
합계 :  66

In [11]:
print(1,2,3)

1 2 3

In [14]:
print(1,2,3, sep=' , ') #separator 활용

1 , 2 , 3

In [15]:
print(1,2,3,sep='\n')  #separator 로 new line 활용

1
2
3

In [16]:
print(1,2,3, sep='\')

SyntaxError: EOL while scanning string literal (Temp/ipykernel_8584/2295396894.py, line 1)

In [18]:
print(1,2,3, sep='\\') # separator 에 들어가는 \는 \다음문자열을 포함하거나 명령문으로 인식

1\2\3