### 심사문제 27
<pre>
문자열이 저장된 words.txt 파일이 주어집니다
(문자열은 한 줄로 저장되어 있습니다). 
words.txt 파일에서 문자 c가 포함된 단어를 각 줄에 출력하는 프로그램을 만드세요.
단어를 출력할 때는 등장한 순서대로 출력해야 하며 
,(콤마)와 .(점)은 출력하지 않아야 합니다.

judge_file.py
________________
________________
________________
________________
________________


words.txt

Fortunately, however, for the reputation of Asteroid B-612, 
a Turkish dictator made a law that his subjects, 
under pain of death, should change to European costume. 
So in 1920 the astronomer gave his demonstration all over again, 
dressed with impressive style and elegance. 
And this time everybody accepted his report.

표준 출력
dictator
subjects
change
costume
elegance
accepted
</pre>

In [2]:
data_file='word.txt'
file = open(data_file,'w')
file.write('Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.')
file.close()

In [153]:
with open('word.txt','r') as file:
    text = file.read().split()
    for text1 in text:
        if 'c' in list(text1):
            text2 = text1.strip(',.').lower()
            print(text2)

dictator
subjects
change
costume
elegance
accepted

In [5]:
with open('word.txt','r') as file:
    text = file.read().split()
    for text1 in text:
        text1 = text1.strip(',.').lower()
        if 'c' in list(text1):
            print(text1)

dictator
subjects
change
costume
elegance
accepted

In [4]:
with open('word.txt') as file:
    words = file.read()
for word in words.split():
    word = word.strip(',.')
    if 'c' in word:
        print(word)

dictator
subjects
change
costume
elegance
accepted

### 29 심사문제
<pre>
표준 입력으로 숫자 두 개가 입력됩니다. 다음 소스 코드를 완성하여 
두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과가 출력되게 만드세요. 
이때 나눗셈의 결과는 실수라야 합니다.

judge_function.py
x, y = map(int, input().split())

________________
________________

a, s, m, d = calc(x, y)

print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))


입력
10 20

결과
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

입력
40 8

결과
덧셈: 48, 뺄셈: 32, 곱셈: 320, 나눗셈: 5.0
</pre>

In [155]:
x, y = map(int, input().split())
def calc(x,y):
    a= x+y
    s= x-y
    m= x*y
    d= x/y
    return a,s,m,d



a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 48, 뺄셈: 32, 곱셈: 320, 나눗셈: 5.0

### 30 심사문제
<pre>
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 
다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 
평균 점수는 실수로 출력되어야 합니다.

judge_function_argument.py
korean, english, mathematics, science = map(int, input().split())

________________
________________
________________
________________

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
예
입력
76 82 89 84

결과
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

입력
89 92 73 83

결과
낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50
</pre>

In [165]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    min_score = min(*args)
    max_score = max(*args)
    return min_score , max_score
def get_average(**kwargs):
    average_score = sum(kwargs.values())/len(kwargs.values())
    return average_score


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english, mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'.format(min_score, max_score, average_score))
## print('낮은 점수: f'{min_score:.2f}, 높은 점수: {max_score:.2f}, 평균 점수: {average_score:.2f}')


min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'.format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

### 31 심사문제
<pre>
표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30). 
다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 출력되게 만드세요.

피보나치 수는 0과 1로 시작하며, 다음 번 피보나치 수는 바로 앞의 두 피보나치 수의 합입니다.

n

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21...

결과

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946...

judge_fibonacci_number.py
________________
________________
________________
________________
________________

n = int(input())
print(fib(n))


입력
10

결과
55

입력
20

결과
6765
</pre>

In [3]:
def fib(n):
    if n==1 or n==0 :
        return n
    return fib(n-1)+fib(n-2)

n = int(input())
print(fib(n))

6765

### 32 심사문제
<pre>
표준 입력으로 숫자.확장자 형식으로 된 파일 이름 여러 개가 입력됩니다. 
다음 소스 코드를 완성하여 파일 이름이 숫자 3개이면서 
앞에 0이 들어가는 형식으로 출력되게 만드세요. 
예를 들어 1.png는 001.png, 99.docx는 099.docx, 100.xlsx는 100.xlsx처럼 출력되어야 합니다. 
그리고 람다 표현식을 사용해야 하며 출력 결과는 리스트 형태라야 합니다. 
람다 표현식에서 파일명을 처리할 때는 문자열 포매팅과 문자열 메서드를 활용하세요.

judge_lambda.py
files = input().split()
 
print(________________)


입력
1.jpg 10.png 11.png 2.jpg 3.png

결과
['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

입력
97.xlsx 98.docx 99.docx 100.xlsx 101.docx 102.docx

결과
['097.xlsx', '098.docx', '099.docx', '100.xlsx', '101.docx', '102.docx']
</pre>

In [75]:
files = input().split()
list(map(lambda files: '{0:03d}.{1}'.format(int(files.split('.')[0]){'0:03d'}, files.split('.')[1]{'1'})))  #못풀었습니다......

SyntaxError: invalid syntax (Temp/ipykernel_5888/3493490592.py, line 2)

In [9]:
files = input().split()

print(list(map(lambda x : f"{int(x.split('.')[0]):03d}.{x.split('.')[1]}", files)))

['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

In [17]:
files = ['1.jpg 10.png 11.png 92.jpg 103.png']
filename = '1.jpg'
num=int(filename.split('.')[0])
ext= filename.split('.')[1]
f'{num:03d}.{ext}'

'001.jpg'

In [14]:
def chang_fname(s):
    num = int(s.split('.')[0])
    ext = s.split('.')[1]
    return f'{num:03d}.{ext}'

In [15]:
chang_fname('90.docs')

'090.docs'

In [16]:
list(map(chang_fname, files))

['001.jpg 10']

### 연습문제
<pre>
다음 리스트에서 제조사(manufacturer)와 모델명(model)을 분리해서 별도의 리스트를 각각 만드시오
</pre>

In [29]:
cars = ['buick skylark 320','plymouth satellite','amc rebel sst','ford torino']
car_list = 'buick skylark 320'
man = car_list.split(' ')[0]
model = car_list.split(' ')[1:3]
f"{'제조사 : ' man }{' 모델 : ' model'}"

SyntaxError: f-string: invalid syntax (Temp/ipykernel_15892/2877385894.py, line 5)

In [30]:
cars = ['buick skylark 320','plymouth satellite','amc rebel sst','ford torino']
manufacturer = list(map(lambda s : s.split()[0], cars))

In [32]:
car = 'buick skylark 320'
m = car.split()[1:]
' '.join(m)

'skylark 320'

In [33]:
model = list(map(lambda s : ' '.join(s.split()[1:]), cars))
model

['skylark 320', 'satellite', 'rebel sst', 'torino']

In [35]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino