# Unit 30 .위치 인수, 키워드 인수

In [1]:
# 위치인수(positional argument) : 10 , 20
#키워드 인수(keyword argument) : seq= ' ' , end='\n\n'
print(10,20,sep=',',end='\n\n')

10,20

In [2]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [3]:
print_numbers(10,20,30)

10
20
30

In [7]:
x = [11,22,33]
print_numbers(*x)           # 리스트 언패킹

11
22
33

- 가변인수

In [8]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [9]:
print_numbers(10,20)

10
20

In [10]:
print_numbers(10,20,33,44,55,66)

10
20
33
44
55
66

In [11]:
print_numbers()

### 30.2 키워드 인수

In [12]:
def personal_info(name,age,address):
    print('이름:',name)
    print('나이:',age)
    print('주소:',address)

In [15]:
#위치 인수로 호출
personal_info('홍길동',25,'서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

In [17]:
# 위치 인수로 호출할때는 순서를 정확하게 지켜야 한다
personal_info(25,'홍길동','서울시 서초구 서초동')

이름: 25
나이: 홍길동
주소: 서울시 서초구 서초동

In [18]:
#키워드로 호출
personal_info(age=25,name='홍길동',address='서울시 서초구 서초동')

이름: 홍길동
나이: 25
주소: 서울시 서초구 서초동

In [22]:
x={'name': '홍길동','age': 30, 'address':'서울시 서초구 서초동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울시 서초구 서초동

- 가변 키워드 인수

In [23]:
def personal_info2(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}: {value}')

In [24]:
personal_info2(**x)

name: 홍길동
age: 30
address: 서울시 서초구 서초동

- 호출하는 순서: 위치인수가 키워드 인수보다 먼저 나와야 한다

In [27]:
personal_info('홍길동',address='경기도 용인시 수지구',age=28)

이름: 홍길동
나이: 28
주소: 경기도 용인시 수지구

In [25]:
def personal_info(name,age,address):
    print('이름:',name)
    print('나이:',age)
    print('주소:',address)

In [28]:
personal_info(address='경기도 용인시 수지구','홍길동',age=28)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_1532/1478262662.py, line 1)

- 가변 위치 인수, 가변 키워드 인수

In [ ]:
def custom_print(*args, **kwargs)

### 30.4 매개변수에 초기값 지정

In [30]:
def personal_info(name, age, address='비공개'):
    print('이름:',name)
    print('나이:',age)
    print('주소:',adress)

- factorial
<pre>
n * (n-1)!  n>0,
0           n=0

In [31]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [32]:
fact(3)

6

In [33]:
fact(5)

120

- fibonacci 수열
<pre>
fibo(n) - fibo(n-1) + fibo(n-2),        n>=2
fibo(1) m fibo(0)  = 1                  n = 0 , 1 일때
</pre>

In [35]:
def fibo(n):
    if n == 1 or n == 0:
        return 1
    return fibo(n-1) + fibo(n-2)

In [36]:
for i in range(11):
    print(f'{i:2d}: {fibo(i)}')

 0: 1
 1: 1
 2: 2
 3: 3
 4: 5
 5: 8
 6: 13
 7: 21
 8: 34
 9: 55
10: 89