# Unit. 22 리스트 조작하기

### 22.1 리스트 조작

In [1]:
#sum 은 함수(function)
a= [ 1, 3, 5, 7, 9]
sum(a)

25

In [3]:
#append는 method
a.append(11)
a

[1, 3, 5, 7, 9, 11, 11]

- 리스트에 요소 추가

In [5]:
a = [10 ,20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [8]:
import math

In [9]:
# 솟수( prime number)  -2,3,5,7,11 ...
prime_number = []

def is_prime_number(num):
    if num == 2:
        return True
    for i in range(2,num):
        if num % i == 0:
            return False
    return True

for i in range(2,101):
    if is_prime_number(i):
        prime_number.append(i)
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [10]:
# 1 에서 100까지 7의 배수 리스트 만들기
multiple7 = []
for i in range(1,101):
    if i % 7 == 0:
        multiple7.append(i)
multiple7

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [11]:
a = [10,20,30]
a.append([100,200])
a

[10, 20, 30, [100, 200]]

In [13]:
b=[10,20,30]
b.extend([100,200])
b

[10, 20, 30, 100, 200]

In [14]:
c=[10,20,30]
c.insert(0,100)
c

[100, 10, 20, 30]

- 요소 삭제
pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
remove : 특정 값을 찾아서 삭제

In [15]:
del c[0]
c

[10, 20, 30]

In [18]:
a=[10,20,30]
last_value = a.pop()         #마지막값을 삭제하고 알려줌
last_value , a

(30, [10, 20])

In [19]:
a=[10,20,30]
a.remove(20)
a

[10, 30]

- Stack ( last-in, first-out)
- Queue ( first-in, first-out)

- 특정 값의 인덱스

In [25]:
a= [ 10,20,30,20,40]
a.index(20)

1

- 특정 값의 갯수

In [26]:
a.count(20)

2

- 리스트의 순서 뒤집기

In [27]:
a=[10,20,30,40,50]
a.reverse()         # 실제로 값이 바뀜
a

[50, 40, 30, 20, 10]

In [30]:
list(reversed(a))  #실제로 값이 바뀌지는 않음

[10, 20, 30, 40, 50]

In [32]:
a[::-1]

[10, 20, 30, 40, 50]

- 정렬(Sort)

In [33]:
a= [10,30,20,50,40]
a.sort()
a

[10, 20, 30, 40, 50]

In [34]:
# 반복문으로 Sort 구현
a=[10,20,50,30,40,5,25]
for i in range(len(a)-1):
    for k in range()

SyntaxError: invalid syntax (Temp/ipykernel_19372/888064000.py, line 4)

In [35]:
#올림차순(ascending order)
a=[10,20,50,30,40,5,25]
a.sort()
a

[5, 10, 20, 25, 30, 40, 50]

In [36]:
#내림차순(descending order)
a=[10,20,50,30,40,5,25]
a.sort(reverse=True)
a

[50, 40, 30, 25, 20, 10, 5]

In [51]:
# 다음중 상위 점수 3개
import random
numbers=[]
for i in range(20):
    numbers.append(random.randint(1,100))
print(numbers)

[86, 37, 35, 19, 60, 44, 56, 78, 14, 9, 72, 34, 43, 25, 52, 55, 73, 71, 16, 25]

In [52]:
numbers.sort(reverse=True)
numbers[:3]

[86, 78, 73]

In [53]:
sorted(numbers,reverse=True)[:3]

[86, 78, 73]

- 리스트의 모든 요소 삭제

In [54]:
a= [10,20,30]
a.clear()
a

[]

- 리스트의 슬라이스

In [55]:
a=[10,20,30]
a.append([400,500])
a

[10, 20, 30, [400, 500]]

In [56]:
a=[10,20,30]
a.extend([400,500])
a

[10, 20, 30, 400, 500]

In [58]:
a=[10,20,30]
a[len(a):] = [400,500]
a

[10, 20, 30, 400, 500]

In [60]:
a=[10,20,30]
a[1:1]= [500,600]
a

[10, 500, 600, 20, 30]

In [61]:
a=[10,20,30]
a[3:]=[50,60]
a

[10, 20, 30, 50, 60]

### 11.2 리스트의 할당과 복사

In [62]:
a=[0,0,0]
b=a

In [63]:
b[1]=10
b

[0, 10, 0]

In [64]:
# side effect 로 의도하지 않았던 a의 값이 변경됨
a

[0, 10, 0]

In [65]:
a is b

True

In [67]:
# shallow copy
a = [0,0,0]
b = a.copy()
b[1]=20
b

[0, 20, 0]

In [68]:
a

[0, 0, 0]

In [69]:
# 2차원 이상에서는 deep copy 가 필요함
a= [[0,0],[0,0]]
b= a.copy()
b[1][1] =30
b

[[0, 0], [0, 30]]

### 22.3 반복문과 리스트

In [71]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [72]:
for index, item in enumerate(fruits):
    print(index, item)

0 apple
1 banana
2 cherry

In [73]:
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 banana
2 cherry

### 22.4 min, max, sum

In [75]:
a= [38,21,43,62,19]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i
print(smallest)

19

In [76]:
a= [38,21,43,62,19]
largest = a[0]
for i in a:
    if i > largest:
        largest = i
print(largest)

62

In [77]:
min(a), max(a)

(19, 62)

In [78]:
sum(a)

183

### 22.5 리스트 표현식(comprehension)

In [79]:
# 1에서 10까지 제곱수로 된 리스트 만들기
sq_list =[]
for i in range(1,11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
sq_list = [i*i for i in range(1,11)]
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
odd_sq_list =[]
for i in range(1,11):
    if i%2==1:
        odd_sq_list.append(i*i)
odd_sq_list

[1, 9, 25, 49, 81]

In [83]:
od_sq_list = [i*i for i in range(1,11) if i % 2 ==1]
od_sq_list

[1, 9, 25, 49, 81]

In [86]:
#  구구단
a = [i *k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [88]:
#  구구단
a = [i *k for i in range(2,10) 
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22.6 map 적용

In [107]:
a = [1.2 , 2.5 , 3.7, 4.7]
b = []
for element in a:
    b.append(int(element))
b

[1, 2, 3, 4]

In [108]:
b = list(map(int,a))
b

[1, 2, 3, 4]

In [109]:
b = [int(element) for element in a]
b

[1, 2, 3, 4]

In [110]:
# a 의 제곱수로 된 리스트
sq_a = []
for element in a :
    sq_a.append(element*element)
sq_a

[1.44, 6.25, 13.690000000000001, 22.090000000000003]

In [112]:
sq_a = [element * element for element in a]
sq_a

[1.44, 6.25, 13.690000000000001, 22.090000000000003]

In [114]:
# map 적용
def square(x):
    return x*x

sq_a = list(map(square,a))
sq_a

[1.44, 6.25, 13.690000000000001, 22.090000000000003]

In [115]:
# 익명(lambda) 함수와 map 적용
sq_a = list(map(lambda x: x*x, a))
sq_a

[1.44, 6.25, 13.690000000000001, 22.090000000000003]