# Unit23. 2차원 리스트

### 23.1   2차원 리스트

In [18]:
a=[[10,20], [30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [19]:
print(a)

[[10, 20], [30, 40], [50, 60]]

In [20]:
from pprint import pprint
pprint(a,indent=4, width=20)

[   [10, 20],
    [30, 40],
    [50, 60]]

In [21]:
from pprint import pprint
pprint(a,indent=1, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [22]:
import numpy as np
b=np.arange(1,7).reshape(3,2)*10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [23]:
import pandas as pd
df = pd.DataFrame(b)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [26]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열','둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [27]:
# 2차원 리스트의 인덱싱: [행인덱스][열인덱스]
a[2][1], a[-1][-1]

(60, 60)

In [28]:
#넘파이 2차원 어레이 인덱싱: [행,열]
b[2,1],b[-1,-1]

(60, 60)

In [31]:
# 데이터프레임 인덱싱: [열][행]
df['둘째열'][1]

40

- 톱니형 리스트

In [32]:
a=[[10,20],
    [500,600,700],
    [9],
    [30,40],
    [8],
    [800,900,1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

### 23.2 반복문과2차원 리스트

In [33]:
a=[[10,20], [30,40],[50,60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [34]:
for x,y in a:
    print(x,y)

10 20
30 40
50 60

In [35]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

In [37]:
a=[[10,20],
    [500,600,700],
    [9],
    [30,40],
    [8],
    [800,900,1000]]

for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

In [38]:
len(a), len(a[0]), len(a[1])

(6, 2, 3)

In [41]:
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

### 23.3 반복문으로 리스트 만들기

In [42]:
#[[10,11],[20,21],[30,31]]
for i in range(3):
    for k in range(2):
        print(10*(i+1)+k, end=' ')
    print()

10 11
20 21
30 31

In [44]:
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(2):
        inner_list.append(10*(i+1)+k)
    outer_list.append(inner_list)
pprint(outer_list,indent=1, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [46]:
a=[]
for i in range(3):
    for k in range(2):
        a.append(10*(i+1)+k)
a

[10, 11, 20, 21, 30, 31]

In [48]:
two_d=[]
for i in range(3):
    line=[]
    for k in range(2):
        line.append(10*(i+1)+k)
    two_d.append(line)
two_d

[[10, 11], [20, 21], [30, 31]]

- 리스트 표현식

In [52]:
 #바깥쪽        [for i in range(3)]            
 # 안쪽         [10*(i+1)+k for k in range(2)] 
[[10*(i+1)+k for k in range(2)] for i in range(3)]

[[10, 11], [20, 21], [30, 31]]

In [75]:
# [[1,2,3,4],[11,12,13,14],[21,22,23,24]]
a = []
for i in range(3):
    b=[]
    for k in range(1,5):
        b.append(10*i+k)
    a.append(b)
a

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [74]:
# [[1,2,3,4],[11,12,13,14],[21,22,23,24]]  풀이
#행인덱스(i) : 0,1,2 range(3)
#열인덱스(k) : 0,1,2,3 range(4)
#일반항 : 10*i+k+1
two_d =[]
for i in range(3):
    line=[]
    for k in range(4):
        line.append(10*i+k+1)
    two_d.append(line)
two_d

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [72]:
[[10*i+k for k in range(1,5)] for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [79]:
[[10*i+k+1 for k in range(4)] for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

- 2차원 리스트의 정렬은 추후 데이터프레임을 이용한 정렬에서 학습

In [81]:
students = [
    ['john','C',19],
    ['maria','A',25],
    ['andrew','B',7]
]
df = pd.DataFrame(students,columns=['name','class','number'])
df

     name class  number
0    john     C      19
1   maria     A      25
2  andrew     B       7

In [83]:
df.sort_values(by='class', inplace=True)
df

     name class  number
1   maria     A      25
2  andrew     B       7
0    john     C      19

### 23.4 2차원 리스트의 할당과 복사

In [86]:
a=[[0,0],[0,0],[0,0]]
b=a.copy()
b[1][1] =30
b

[[0, 0], [0, 30], [0, 0]]

In [87]:
a

[[0, 0], [0, 30], [0, 0]]

In [89]:
import copy
a=[[0,0],[0,0],[0,0]]
b=copy.deepcopy(a)
b[1][1] =30
b

[[0, 0], [0, 30], [0, 0]]

In [90]:
a

[[0, 0], [0, 0], [0, 0]]

In [91]:
matrix = []
for i in range(row):
    matrix.append(list(input()))

TypeError: 'list' object cannot be interpreted as an integer