# Unit 24. 문자열 응용

### 24.1 문자열 조작

- 변경(raplace) method

In [1]:
s = 'Hello Python'
s.replace('Python' , 'World')

'Hello World'

In [2]:
s

'Hello Python'

In [5]:
s = s.replace('Python' , 'World')
s

'Hello World'

In [11]:
# 정규표현식(Regular expression)
import re
s= '안녕하세요 python 코딩 강좌 입니다.ㅋㅋ'
re.sub('[^A-Za-z ]', ' ',s)            #패턴, 변경될 값 , 문자열

'      python             '

In [12]:
# 한글 이외에는 공백으로 변경
re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣]', ' ', s)

'안녕하세요        코딩 강좌 입니다 ㅋㅋ'

- 문자열 분리(split)

In [13]:
s = 'apple pear grape pineapple orange'
d = s.split()
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [15]:
s = 'apple,pear,grape,pineapple,orange'
d = s.split(',')
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [21]:
stopwords = ['a', 'the' , 'I' , 'am' , 'is']
s= 'I am a graduate studnet.'
d= s.split()
d

['I', 'am', 'a', 'graduate', 'studnet.']

In [17]:
' '.join(d)

'apple pear grape pineapple orange'

In [19]:
' '.join('apple,pear,grape,pineapple,orange'.split(','))

'apple pear grape pineapple orange'

In [22]:
'apple,pear,grape,pineapple,orange'.replace

In [25]:
s = 'I am a graduate student.'
' '.join(word for word in s.split() if word not in stopwords)

'graduate student.'

In [24]:
d = s.split()
sentence = []
for word in d:
    if word not in stopwords:
        sentence.append(word)
sentence = ' '.join(sentence)
sentence

'graduate studnet.'

- 대소문자 변환(upper, lower)

In [26]:
'Python'.lower(), 'Python'.upper()

('python', 'PYTHON')

- 공백삭제(strip, lstrip, rstrip)

In [29]:
s = ' Python '
s.lstrip() , s.rstrip() , s.strip()

('Python ', ' Python', 'Python')

In [30]:
s= ',=Python.!'
s.strip()

',=Python.!'

- 구두점 제거

In [35]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
s.strip(string.punctuation)

'Python'

In [38]:
s.strip(string.punctuation)

'Python'

In [39]:
s = ',=Python.!'
s.lower().strip(string.punctuation)

'python'

In [40]:
s= '   123,000원'
s.strip().strip('원').replace(',','')

'123000'

In [41]:
s= '   123,000원'
s.strip(' 원').replace(',','')

'123000'

In [42]:
s = 'USD 1,752.37$'
float(s.strip('USD $').replace(',',''))

1752.37

- 정렬 ( ljust, rjust )

In [46]:
'python'.ljust(10)  , 'python'.rjust(10), 'python'.center(11)

('python    ', '    python', '   python  ')

- 위치 찾기 ( find, rfind , index)

In [48]:
'apple pineapple' .find('pp') #pp의 가장 첫 인덱스 값을 추적

1

In [50]:
'apple pineapple' .find('xy')   #없는글자 추적시

-1

In [54]:
s = 'A quick brown fox jumps over the lazy dog.'
s.find('fox')

14

In [52]:
s.find('wolf')

-1

In [56]:
search = 'wolf'
if s.find(search)>= 0:
    print('문장안에 찾고자 하는 문자열이 있습니다.')
else:
    print('문장안에 찾고자 하는 문자열이 없습니다.')

문장안에 찾고자 하는 문자열이 없습니다.

In [58]:
'fox' in s

True

In [59]:
'apple pineapple'.rfind('pp')

11

In [60]:
'apple pineapple'.rindex('pp'),'apple pineapple'.index('pp')

(11, 1)

- 문자열 개수 세기

In [61]:
'apple pineapple'.count('pp')

2

- 연습문제
1. 디지털시계 (00:00 ~23:59) 가 있다.
하루동안 3이라는 숫자가 표시되는 시간은 몇초인가?

2. 1에서 1000 까지 숫자에서 0,1,...,9는 몇번 나오나?

In [63]:
# 시계
time = 0
for hour in range(24):
    for minute in range(60):
        display = str(hour) + ':' + str(minute)
        #display f'{hour:02d}:{minute:02d}'
        if '3' in display:          # if display.find('3') >= 0
            time += 60
print(time)

29700

In [67]:
# 숫자 개수
num_string = ''
for i in range(1,10001):
    num_string += str(i)

In [68]:
for i in range(10):
    count= num_string.count(str(i))
    print(i, count)

0 2893
1 4001
2 4000
3 4000
4 4000
5 4000
6 4000
7 4000
8 4000
9 4000

### 24.2 문자열 서식 지정자와 포맷팅

In [69]:
s='python'              #문자열
f'==={s:10s}==='

'===python    ==='

In [71]:
d =3                # 정수
f'==={d:4d}:{d:02d}==='

'===   3:03==='

In [73]:
year , month, day , hour , minute = 2022 , 3 , 29 , 11 , 36
f'오늘은 {year}--{month:02d}--{day:02d} 이고, 시간은 {hour:02d}:{minute:02d}입니다'

'오늘은 2022--03--29 이고, 시간은 11:36입니다'

In [74]:
price1, price2 = 35000, 1200000
print(f'가격1: {price1:10,d}원')
print(f'가격2: {price2:10,d}원')

가격1:     35,000원
가격2:  1,200,000원

In [75]:
import math
f'파이값은 {math.pi:8.4f} 입니다'

'파이값은   3.1416 입니다'