# Unit 10 . 리스트와 튜플

### u10.1 리스트(list)

In [1]:
# 리스트
a1 = [38 , 21 , 53 , 62 , 19]
a1

[38, 21, 53, 62, 19]

In [2]:
# 어레이 
import numpy as np
np.random.randint(10,70,5)

array([61, 13, 58, 43, 53])

In [4]:
# 어레이도 리스트로 묶어주면 됨
import numpy as np
list(np.random.randint(10,70,10))

[68, 15, 24, 22, 15, 67, 48, 38, 30, 68]

In [16]:
# 리스트에는 여러가지 자료형을 사용할수 있다.
person = ['james', 7,175.3 , '남']

In [6]:
person

['james', 7, 175.3, '남']

In [1]:
# 위의 리스트는 아래와 같은 딕셔너리로 표현하는 것이 더 좋다
{'name' : 'james' , 'age' : 27 , 'height' : 175.5 , 'gender' : '남'}

{'name': 'james', 'age': 27, 'height': 175.5, 'gender': '남'}

- 빈 리스트 만들기

In [3]:
a= []
b= list()
a,b=[],[]

In [4]:
import random
for i in range(5):
    a.append(random.randint(60,100))
a

[70, 88, 87, 75, 60]

- range 객체

In [5]:
range(5)

range(0, 5)

In [6]:
# range parameter 1개이면 : 횟수를 의미 (0 ~ n-1 까지)
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
# range parameter 2개이면 : 시작, 끝을 의미 (시작 ~ n-1 까지)
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
# range parameter 3개이면 : 시작, 끝 , 증가폭(간격)을 의미
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

### 10.2 튜플(tuple)

In [18]:
a2 = (38, 21, 53, 62, 19)
a2

(38, 21, 53, 62, 19)

In [17]:
person

['james', 7, 175.3, '남']

In [19]:
size = (3)
type(size)

int

In [20]:
size = [3]
type(size)

list

In [21]:
size = (3,)
type(size)

tuple

In [22]:
size = 3
type(size)

int

In [23]:
size = 3,
type(size)

tuple

- 튜플은 요소를 변경, 추가 , 삭제할 수 없다

In [24]:
t=()
type(t)

tuple

In [26]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

- 리스트 <--> 튜플

In [27]:
l = list(t)
type(l)

list

In [28]:
type(tuple(l))

tuple

In [29]:
type(l)

list

- 리스트에 문자열 넣기

In [30]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

In [31]:
list('ABCD')

['A', 'B', 'C', 'D']

- list/tuple unpacking

In [32]:
a , b , c , d = 'a' , 'b' , 'c' , 'd'

In [33]:
a,b,c,d

('a', 'b', 'c', 'd')

In [34]:
a , b , c , d = list('abcd')
a, b, c, d

('a', 'b', 'c', 'd')

In [35]:
x, y , z = range(3)
x , y , z

(0, 1, 2)

In [37]:
x , y , z = input().split()
x , y , z

('11', '22', '33')

In [38]:
x , y , z = map(int, input().split())
x , y , z

(11, 22, 33)

In [39]:
x , y , z = map(lambda x: int(x)*2, input().split())
x , y , z

(22, 44, 66)

In [40]:
import numpy as np 
np.__version__

'1.20.3'